{% include "nav_bar.html" %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Cart</p>
        <p class="w3-right">
            <i class="fa fa-shopping-cart w3-margin-right"></i>
            <a href="/search"><i class="fa fa-search"></i></a>
        </p>
    </header>
    {#    <form class="w3-container" action="/result">#}
    {#        <textarea class="w3-input" name="term" placeholder="Write Product Name of Phrases"></textarea><br>#}
    {#        <button class="w3-button w3-black">Search</button>#}
    {#    </form>#}

    <div class="w3-container">

        <b>All Products</b>
        <table class="w3-table w3-striped">
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Product</th>
            </tr>
            {% for r in items %}

                <tr>
                    <td>{{ r.title }}</td>
                    <td>{{ r.price }}</td>
                    <td><a href="/remove?cart_id={{ r.cart_id }}&pid={{ r.pid }}">Remove</a></td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
        <div class="w3-container w3-border">
            Total Price: {{ total_price }}
        </div>
        <br><br>

    </div>
    <div>
        <form class="w3-container" action="/placeorder?cart_id={{ cart_id }}">
            <input class="w3-input" name="coupon" type="text" placeholder="Enter Your Coupon Code"><br><br>
            <button class="w3-button w3-block w3-black">Place Order</button>
        </form>
    </div>
    <br><br><br>
    {#    <div class="w3-black w3-center w3-padding-24">Powered by Cholpori#}
    {#    </div>#}


    <script>
        // Accordion
        function myAccFunc() {
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        // Click on the "Jeans" link on page load to open the accordion for demo purposes
        document.getElementById("myBtn").click();


        // Open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>

    </body>
    </html>

