{% include "nav_bar.html" %}


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">{{ cat_name }}</p>
        <p class="w3-right">
            <a href="/cart"><i class="fa fa-shopping-cart w3-margin-right"></i></a>
            <a href="/search"><i class="fa fa-search"></i></a>
        </p>
    </header>

    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="./static/w3images/{{ cat_name_small }}.jpg" alt="Jeans" style="width:100%">
        <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
            <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
            <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
            <h1 class="w3-hide-small">COLLECTION 2016</h1>
            <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
        </div>
    </div>

    <div class="w3-container w3-text-grey" id="jeans">
        <p>Total: {{ items_count }} Items</p>
    </div>

    <!-- Product grid -->
    <div class="w3-row w3-grayscale">
        {% for block in blocks %}
            <div class="w3-col l3 s6">
                {% for item in block %}
                    <div class="w3-container">
                        <div class="w3-display-container">
                            <img src="{{ item.image }}" style="width:100%">
                            <div class="w3-display-middle w3-display-hover">
                                <a href="/cart?product_id={{ item.id }}">
                                    <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <p>{{ item.title }}<br><b>৳{{ item.price }}</b></p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
    {#    <!-- Subscribe section -->#}
    {#    <div class="w3-container w3-black w3-padding-32">#}
    {#        <h1>Subscribe</h1>#}
    {#        <p>To get special offers and VIP treatment:</p>#}
    {#        <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>#}
    {#        <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>#}
    {#    </div>#}

    <!-- Footer -->
    <div class="w3-black w3-center w3-padding-24">Powered by Cholpori
    </div>

    <!-- End page content -->
</div>

<!-- Newsletter Modal -->
<div id="newsletter" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
        <div class="w3-container w3-white w3-center">
            <i onclick="document.getElementById('newsletter').style.display='none'"
               class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
            <h2 class="w3-wide">NEWSLETTER</h2>
            <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
            <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
            <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom"
                    onclick="document.getElementById('newsletter').style.display='none'">Subscribe
            </button>
        </div>
    </div>
</div>

<script>
    // Accordion
    function myAccFunc() {
        var x = document.getElementById("demoAcc");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // Click on the "Jeans" link on page load to open the accordion for demo purposes
    document.getElementById("myBtn").click();


    // Open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>

</body>
</html>
