{% include 'nav_bar.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Jeans</p>
        <p class="w3-right">
            <i class="fa fa-shopping-cart w3-margin-right"></i>
            <i class="fa fa-search"></i>
        </p>
    </header>

    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="./static/w3images/{{ cat_name_small}}.jpg" alt="Jeans" style="width:100%">
        <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
            <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
            <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
            <h1 class="w3-hide-small">COLLECTION 2016</h1>
            <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
        </div>
    </div>

    <div class="w3-container w3-text-grey" id="jeans">
        <p>Total: {{ items_count }} Items</p>
    </div>

    <!-- Product grid -->
    <div class="w3-row w3-grayscale">
        {% for block in blocks %}
            <div class="w3-col l3 s6">
                {% for item in block %}
                    <div class="w3-container">
                        <img src="{{ item.image }}" style="width:100%">
                        <p>{{ item.title }}<br><b>৳{{ item.price }}</b></p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% include "footer.html" %}