<!DOCTYPE html>
<html>
<title>cholpori</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .w3-sidebar a {
        font-family: "Roboto", sans-serif
    }

    body, h1, h2, h3, h4, h5, h6, .w3-wide {
        font-family: "Montserrat", sans-serif;
    }
</style>
<body class="w3-content" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
        <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
        <a href="/" class="w3-bar-item w3-button"><h2>Cholpori</h2></a>
    </div>

    <div class="w3-padding-64 w3-large w3-text-grey">

        {% if u_name %}
            <div>
                <p style="padding-left: 12px">{{ u_name.name }}</p>
                <div style="padding-left: 12px">
                    <img src="{{ u_name.image }}" style="border-radius: 50%" alt="">
                </div>
            </div>

        {% endif %}


        <div>
            <div style="float: left">
                <a href="/login" class="w3-bar-item w3-button">Login</a>
            </div>
            <div style="float:right;margin-right: 12px ">
                <a href="/logout" class="w3-bar-item w3-button">Log Out</a>
            </div>
        </div>

    </div>

    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <a href="/jeans" class="w3-bar-item w3-button">Jeans</a>
        <a href="/foods" class="w3-bar-item w3-button">Foods</a>
        <a href="#" class="w3-bar-item w3-button">Dresses</a>
        <a href="#" class="w3-bar-item w3-button">Jackets</a>

    </div>
{#    <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>#}
{#    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding"#}
{#       onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>#}
{#    <a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a>#}
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide"><a href="/" class="w3-bar-item w3-button">Cholpori</a></div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()">
        <i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>