{% include "nav_bar.html" %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Search</p>
        <p class="w3-right">
            <i class="fa fa-shopping-cart w3-margin-right"></i>
            <a href="/search"><i class="fa fa-search"></i></a>
        </p>
    </header>
    <form class="w3-container" action="/result">
        <input class="w3-input" name="term" placeholder="Write Product Name of Phrases"><br>
        <button class="w3-button w3-black">Search</button>
    </form>

    <div class="w3-container">

        <p>Your Search Result for: {{ token }}</p>
        {% if rl=="0" %}
            <p>NO Result Found for: {{ token }}</p>
        {% else %}
            <table class="w3-table w3-striped">
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Product</th>
                </tr>
                {% for r in response %}

                    <tr>
                        <td>{{ r.title }}</td>
                        <td>{{ r.price }}</td>
                        <td><img src="{{ r.image }}" alt="" style="height: 100px;width: 60px"></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}


    </div>
    <br><br>

    <script>
        // Accordion
        function myAccFunc() {
            var x = document.getElementById("demoAcc");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        // Click on the "Jeans" link on page load to open the accordion for demo purposes
        document.getElementById("myBtn").click();


        // Open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>

    </body>
    </html>

